/* Mobile Buttons */

.mobile_buttons {
    position: fixed;
    z-index: 5;
}

.a_button {
    position: absolute;
    top: 383px;
    left: 542px;
    height: 100px;
    opacity: 65%;
}

.b_button {
    position: absolute;
    top: 310px;
    left: 592px;
    height: 100px;
    opacity: 65%;
}

.left_button {
    position: absolute;
    top: 335px;
    left: 19px;
    height: 100px;
    opacity: 65%;
}

.right_button {
    position: absolute;
    top: 375px;
    left: 130px;
    height: 100px;
    opacity: 65%;
}

.soundOn_button {
    position: absolute;
    top: 40px;
    left: 300px;
    height: 60px;
    opacity: 65%;
}

.soundOff_button {
    position: absolute;
    top: 40px;    
    left: 370px;
    height: 60px;
    width: 65px;
    opacity: 65%;
}

.controls_button {
    position: absolute;
    top: 120px;
    left: 50px;
    height: 60px;
    opacity: 65%;
}

.restart_button {
    position: absolute;
    top: 120px;
    left: 140px;
    height: 60px;
    opacity: 65%;
}

/* GAME Start Button */

#start_btn {
    z-index: 5;
    height: 160px;
    width: 160px;
    position: absolute;
    filter: drop-shadow(2px 5px 2px black);
}

#start_btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}